{{#if books}}
{{#each books}}
<div class="col-md-4">
    <div class="card card-body">
        <h3>{{title}}</h3>
        <p><b>Author</b>: {{author}}</p>
        <p><b>ISBN</b>: {{isbn}}</p>
    </div>
</div>
{{/each}}
{{/if}}